@media screen and (max-width : 420px){
    body{
        width: 100%;
        background-color: rgb(207, 207, 207);
    }

    #wrap, .contLayout{
        max-width: 420px;
        margin: auto;
    }

    .contLayout::after{
        content: '';
        clear: both;
        display: block;
    }
    
    #wrap header{
        padding: 5px 0px;
    }

    #wrap header .contLayout,
    #wrap .M_notice .contLayout{
        width: 90%;
        background-color: darkolivegreen;
    }

    header .logo{
        background: url(../Mimges/Mlogo.png) no-repeat;
        background-size: contain;
        background-position: center;
        width: 150px;
        height: 50px;
        margin-top: 0px;
        float: left;
    }

    .M_menu{
        width: 30px;
        float: right;
        margin: 12px;
    }

    .M_menu div{
        width: 100%;
        height: 5px;
        background-color: #506580;
        margin: 0px 0px 6px 0px;
    }

    .M_menu div:last-child{
        margin: 0px;
    }


/* section */
    .M_slideImg{
        width: 100%;
        height: 290px;
        display: block;
        overflow: hidden;
        position: relative;
    }

     .M_slideImg .contLayout ul{
        width: 250%;
    }

    .M_slideImg li{
        float: left;
    }

    .M_slideImg .contLayout li img{
        display: block;
        /* position: relative;
        left: 50%;
        transform: translateX(-55%); */
    }

    .slideNum{
        width: 70px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 30px;
        position: absolute;
        bottom: 15px;
        right: 20px;
    }
    
/* .M_notice */
    .M_notice{
        width: 100%;
        background-color: #506580;
        display: block;
        color: white;
        padding: 15px 0px;
    }

    #wrap .M_notice .contLayout{
        position: relative;
    }

    .M_notice b,
    .M_notice ul,
    .M_notice span{
        float: left;
    }

    .M_notice b{
        margin-right: 20px;
    }

    .M_notice .notice_more::after{
        left: 12px;
    }

    .M_notice ul{
        width: 70%;
        height: 25px;
        overflow: hidden;
        
    }

    .M_notice ul li{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }

    .M_notice ul li a{
        color: white;
    }


    .slideImg,
    .notice,
    .bookRanking,
    .shortcutsWrap,
    .seoulNews,
    .questionsWrap,
    .linkBox,
    .shortcutsBar,
    footer,
    nav{
        display: none;
    }
}