@media screen and (max-width : 420px) {
    body{
        overflow-x: hidden;
    }

    .contLayout{
        max-width: 420em;
    }
    
    header{
        background-color: red;
        padding: 5px 25px;
    }

    .logo{
        background: url(../Mimges/Mlogo.png) no-repeat;
        background-size: contain;
        background-position: center;
        width: 150px;
        height: 50px;
        margin-top: 0px;
    }


    section,footer,
    nav{
        display: none;
    }
}